body {
    --background-color: #252526;
    --text-color: #ffffff;
    --botton-color: #ffffff;
    --botton-background-color: #2A2B2C;
    --row-background-color: #52525B;
    --hover-background-color: #fff700;
    --background-color-container: #1e1e1e;

    --PeachFuzz50: #FFF9F5;
    --PeachFuzz100: #FFF2EB;
    --PeachFuzz200: #FFE5D7;
    --PeachFuzz300: #FED8C2;
    --PeachFuzz400: #FECCAE;
    --PeachFuzz500: #FEBE98;
    --PeachFuzz600: #FD8B49;
    --PeachFuzz700: #F25A02;
    --PeachFuzz800: #A23C02;
    --PeachFuzz900: #511E01;
    --PeachFuzz950: #280F00;

}



body {
    line-height: 1.75;
    margin: 0;
    background: radial-gradient(at 50% 0%, #23303a 5%, #000000);
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-y: scroll;
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}


a {
    text-decoration: none;
}

.cabecera {
    font-size: 30px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0% 5%;
}

.padding5left {
    padding-left: 5%;
}

.padding5sides {
    padding-left: 5%;
    padding-right: 5%;
}


.titulo h1 {
    font-family: 'Stencil';
    margin: 0px;
    margin-top: 90px;
}

.titulo h2 {
    font-family: 'Stencil';
    margin: 0px;
    margin-top: -45px;

}

.titulo h3 {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFF00;
}

.titulo p {
    font-size: 20px;
}

.iconos {
    width: min-content;
    height: min-content;
    display: flex;
    gap: 40px;
    transition: 0.3s ease;
}


.iconos img {
    width: 46px;
    height: 46px;
}

.iconos a:hover{
    transform: scale(1.1);
}


.elementosprincipales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.elementoprincipal {
    color: #9cdcf1;
    width: 100%;
    height: 400px;
    margin-top: 20%;
    text-align: center;

}


.elementoprincipal img {
    object-fit: cover;
    width: 70%;
    height: auto;
    align-self: center;

}

.contenidoexperiencia {
    background-color: #1d2830;
    border-radius: 30px;
    display: flex;
    gap: 20px;
    margin: 2% 2% 2% 0%;
    padding: 2%;
}


.puestoexperiencia {
    width: 30%;


}

.puestoexperiencia h3 {
    margin: 0px;
}

.puestoexperiencia h5 {
    margin-top: 10px;
}

.actividades {
    width: 100%;
}



.tecnologias {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    transition: 0.3s ease;
}

.tecnologias img {
    width: 45px;
    height: 45px;
}


.tecnologias div:hover{
    transform: scale(1.1);
}

.tecnologias div {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.tecnologias span {
    display: block;
}

.proyectos {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.proyecto {
    width: 90%;
    height: 450px;
    background-color: #1d2830;
    border-radius: 20px;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
}

.proyecto:hover {
    transform: scale(1.1);

}



.proyecto img {
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.proyecto h2 {
    margin: 0px;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: underline;
}

.proyecto p {
    margin: 0px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: medium;
}



.sobremi img {
    border-radius: 20px;
    width: 300px;
    height: 300px;
}

.contenidosobremi {
    display: flex;
    gap: 30px;
}


/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}




@media (width < 1000px) {



    .iconos {
        margin: auto;
    }

    .contenidoexperiencia {

        border-radius: 30px;
        display: block;
        gap: 20px;
        margin: 2% 2% 2% 0%;
        padding: 2%;
    }



    .contenidosobremi {
        display: block;
        gap: 30px;

    }



    .puestoexperiencia {
        width: 100%;
    }

    .tecnologias {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }



    .contenidoexperiencia {
        margin-bottom: 40px;
    }



    .proyectos {
        width: 100%;
        height: 100%;
        display: block;
    }

    .proyecto {
        width: 100%;
        height: 450px;
        text-decoration: none;
        transition: none;
        margin-bottom: 40px;
    }

    .proyecto:hover {
        transform: none;

    }



    .sobremi img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



    body {
        width: 100%;
        margin: 0px;
    }

    main {
        height: auto;
    }

    .cabecera {
        font-size: 30px;
        height: 100vh;
        display: block;
        justify-content: center;
        align-content: center;
        padding: 5% 5% 0% 5%;
    }

    .titulo {
        height: auto;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .titulo h3 {
        font-size: x-large;
    }

    .iconos {
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }

    .elementosprincipales {
        display: none;
    }



}